.header-container {
    width: 100%;
    height: 80px;
    background-color: #b4f483;
    display: flex;
    .all-movies{
        width: 75%;
        min-height: calc(100vh - 80px);
        border-right: 1px solid #2e361e;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .popular-movies{
        width: 25%;
        min-height: calc(100vh - 80px);
        border-right: 1px solid #2e361e;
    }
    align-items: center;
    justify-content: space-between;
    .logo{
        font-size: 24px;
        font-weight: bold;
        font-family: 'Creepster', cursive;
        letter-spacing: 4px;
        margin-left: 40px;
        cursor: pointer;
    }
    .logout{
        font-size: 18px;
        font-weight: bold;
        margin-right: 40px;
        cursor: pointer;
    }
    .film {
        position: absolute;
        top: 5px;
        left: 50px;
        width: 68px;
    }
    }